# Artifacts.
flag.jpg
flag.png
flag.pdf

# OS-specific noise files.
desktop.ini
Thumbs.db
.DS_Store

# Executable, library, shared object, and support files.
*.exe
*.out
*.app
*.obj
*.o
*.lib
*.a
*.dll
*.so
*.log
*.env
*.swp
*.traineddata

# Vendor files.
__pycache__
node_modules
